.col-sm {
    height: 5hv;
}

.one {
    background-color: red;
}

.two {
    background-color: blue;
}

.three {
    background-color: green;
}

.four {
    background-color: yellow;
}

.five {
    background-color: purple;
}